body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
#People tr:nth-child(even) {
  background: #CCC;
}
#People tr:nth-child(odd) {
  background: #FFF;
}
#People th:last-child {
  text-align: center;
}
#People td {
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  vertical-align: top;
}
#People td:first-child {
  padding-right: 5px;
}
#People td:last-child {
  padding-left: 5px;
}
#People #Addresses li {
  margin-bottom: 10px;
}
#People #Addresses li:last-child {
  margin-bottom: 0px;
}